@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;

  --card: #0f172a;
  --border: rgba(255,255,255,.08);

  --primary: #4f46e5;
  --secondary: #06b6d4;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left,#312e81 0%,transparent 35%),
    radial-gradient(circle at bottom right,#0f766e 0%,transparent 30%),
    var(--background);

  color: var(--foreground);

  min-height:100vh;
}

*{
  box-sizing:border-box;
}

section{
  position:relative;
}

.container{
  max-width:1280px;
  margin:auto;
}